<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css">
  <link rel='stylesheet' href='/stylesheets/client.css' />
  <script type="text/javascript" src="/javascripts/baffle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.0/sweetalert2.all.js"></script>
  <script type="text/javascript" src="/javascripts/particles.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
  <title>The CupShufflers</title>
</head>

<body>
  <script>
  $(document).ready(function() {
    $(function() {
      let b = baffle('.baffleme').start();
      b.reveal(2000);

      particlesJS.load('particles', '/javascripts/particles.json', function() {
        console.log('callback - particles.js config loaded');
      });

      $("#accordion").accordion({
        collapsible: true,
        active: false,
        heightStyle: "content"
      });

      $("#activateForm").submit(function(event) {
        event.preventDefault();
        var data = $("#activateForm").serializeArray();
        const playerId = data[0]["value"];
        const minBidAmt = data[1]["value"];
        console.log(playerId);
        console.log(minBidAmt);
        $.post("http://localhost:3000/send-transaction", {
          "transaction_id": 0,
          "player_id": playerId,
          "min_bid_value": minBidAmt
        }, function() {
          // onSuccess callback
          swal({
            title: "Success!",
            type: "success",
            html: `playerId has been set to ${playerId} <br> minimum bid value has been set to ${minBidAmt}`,
            showCancelButton: true,
            confirmButtonColor: "#77dd77",
            confirmButtonText: "Join Existing Game",
            cancelButtonText: "Register New Game",
            cancelButtonColor: "#87CEFF",
          }).then(function (result) {
            // Callback from user response
            if (result.value) {
              // Join existing game
              $("#ui-id-3").click();
              $('html, body').animate({
                scrollTop: $("#ui-id-3").offset().top
              }, 2000);
            } else {
              // Register new game
              $("#ui-id-5").click();
              $('html, body').animate({
                scrollTop: $("#ui-id-5").offset().top
              }, 2000);
            }
          });
        });
      });

      $("#joinGameForm").submit(function(event) {
        event.preventDefault();
        var data = $("#joinGameForm").serializeArray();
        const playerId = data[0]["value"];
        const gameId = data[1]["value"];
        $.post("http://localhost:3000/send-transaction", {
          "transaction_id": 1,
          "player_id": playerId,
          "game_id": gameId
        }, function() {
          // onSuccess callback
          swal({
            title: "Success!",
            type: "success",
            html: `successfully joined game<br>
            playerId: ${playerId}<br>
            gameId: ${gameId}<br>`,
            confirmButtonColor: "#87CEFF",
            confirmButtonText: "Register Guess & Secret",
          }).then(function (result) {
            if (result.value) {
              // Go to game register modal
              $("#ui-id-5").click();
              $('html, body').animate({
                scrollTop: $("#ui-id-5").offset().top
              }, 2000);
            } else {
              // close modal
              $("#ui-id-3").click();
            }
          });
        });
      });

      $("#gameRegisterForm").submit(function(event) {
        event.preventDefault();
        var data = $("#gameRegisterForm").serializeArray();
        const playerId = data[0]["value"];
        const gameId = data[1]["value"];
        const secret = data[2]["value"];
        const guess = data[3]["value"];
        const rOne = data[4]["value"];
        const rTwo = data[5]["value"];
        const bidValue = data[6]["value"];
        const commitSecret = CryptoJS.SHA256(rOne + secret).toString();
        const commitGuess = CryptoJS.SHA256(rTwo + guess).toString();

        $.post("http://localhost:3000/send-transaction", {
          "transaction_id": 4,
          "player_id": playerId,
          "game_id": gameId,
          "commit_secret": commitSecret,
          "commit_guess": commitGuess,
          "bid_value": bidValue
        }, function() {
          // onSuccess callback
          swal({
            title: "Success!",
            type: "success",
            html: `successfully registered<br>
            playerId: ${playerId}<br>
            gameId: ${gameId}<br>
            secret: ${commitSecret}<br>
            guess: ${commitGuess}<br>
            bid: ${bidValue}`,
            showCancelButton: true,
            confirmButtonColor: "#77dd77",
            confirmButtonText: "Okay",
            cancelButtonText: "Reveal Secret",
            cancelButtonColor: "#87CEFF",
          }).then(function (result) {
            if (result.value) {
              // Close register modal
              $("#ui-id-5").click();
            } else {
              // Go to Reveal secret modal
              $("#ui-id-7").click();
            }
          });
        });
      });

      $("#revealSecretForm").submit(function(event) {
        event.preventDefault();
        var data = $("#revealSecretForm").serializeArray();
        const playerId = data[0]["value"];
        const gameId = data[1]["value"];
        const secret = data[2]["value"];
        const guess = data[3]["value"];
        const rOne = data[4]["value"];
        const rTwo = data[5]["value"];

        console.log("yis");

        $.post("http://localhost:3000/send-transaction", {
          "transaction_id": 5,
          "player_id": playerId,
          "game_id": gameId,
          "secret": secret,
          "guess": guess,
          "r_one": rOne,
          "r_two": rTwo
        }, function () {
          // onSuccess callback
          swal({
            title: "You've revealed your secret",
            type: "success",
            html: `Let's take a look at the results!`,
            confirmButtonColor: "#87CEFF",
            confirmButtonText: "See Results",
          }).then(function (result) {
            if (result.value) {
              window.location.href="/#logs";
            }
          });
        });
      });
    });
  });
  </script>
  <div class="cover">
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span>CupShufflers</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="/">Home</a> </li>
            <li> <a href="/client">Client</a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cover-image" id="particles"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="baffleme custom-heading">The CupShufflers | Clients</h1>
          <p class="baffleme">Play money to earn money. 😉</p>
          <br><br>
          <a href="#game-functions" class="custom-btn">PLAY 💰</a> </div>
        </div>
      </div>
    </div>
    <div class="section>" id="game-functions">
      <div class="container">
        <div class="row">
          <h1 class="text-center custom-heading">Game Functions</h1>
          <div class="col-md-10 col-md-offset-1">
            <h3 class="sub-heading">How it works?</h3>
            <p>
              <ul>
                <li>To initialise a new game, send an activate request.</li>
                <li>To join an existing game (already activated), send a join-game request.</li>
                <li>To register your guess and secret, send a game-register request.</li>
                <li>To reveal your guess and secret, send a reveal-secret request.</li>
                <li>The winners of the game will be published on the <a href="http://localhost:3000">homepage</a>.</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div id="accordion">
              <h3>Activate</h3>
              <div>
                <form class="form-horizontal" id="activateForm">
                  <fieldset>
                    <!-- Form Name -->
                    <legend>Activate</legend>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="playerId">Player ID</label>
                      <div class="col-md-4">
                        <input id="playerId" name="playerId" type="text" placeholder="1" class="form-control input-md" required="">
                        <span class="help-block">Enter your player ID</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="minBidAmt">Minimum Bid Amount</label>
                      <div class="col-md-4">
                        <input id="minBidAmt" name="minBidAmt" type="text" placeholder="10" class="form-control input-md" required="">
                        <span class="help-block">Enter the minimum bid amount for the new game</span>
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="submit"></label>
                      <div class="col-md-4">
                        <button id="submit" type="submit" name="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>

                  </fieldset>
                </form>
              </div>
              <h3>Join Game</h3>
              <div>
                <form class="form-horizontal" id="joinGameForm">
                  <fieldset>

                    <!-- Form Name -->
                    <legend>Join Game</legend>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="playerId">Player ID</label>
                      <div class="col-md-4">
                        <input id="playerId" name="playerId" type="text" placeholder="1" class="form-control input-md" required="">
                        <span class="help-block">Enter your player ID</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="gameId">Game ID</label>
                      <div class="col-md-4">
                        <input id="gameId" name="gameId" type="text" placeholder="1" class="form-control input-md" required="">
                        <span class="help-block">Enter the game ID you want to join</span>
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="submit"></label>
                      <div class="col-md-4">
                        <button id="submit" type="submit" name="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>

                  </fieldset>
                </form>

              </div>
              <h3>Game Register</h3>
              <div>
                <form class="form-horizontal" id="gameRegisterForm">
                  <fieldset>

                    <!-- Form Name -->
                    <legend>Game Register</legend>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="playerId">Player ID</label>
                      <div class="col-md-4">
                        <input id="playerId" name="playerId" type="text" placeholder="1" class="form-control input-md" required="">
                        <span class="help-block">Enter your player ID.</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="gameId">Game ID</label>
                      <div class="col-md-4">
                        <input id="gameId" name="gameId" type="text" placeholder="2" class="form-control input-md" required="">
                        <span class="help-block">Enter game ID.</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="secret">Secret</label>
                      <div class="col-md-5">
                        <input id="secret" name="secret" type="text" placeholder="Secret" class="form-control input-md" required="">
                        <span class="help-block">Enter secret in plaintext</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="guess">Guess</label>
                      <div class="col-md-5">
                        <input id="guess" name="guess" type="text" placeholder="Guess" class="form-control input-md" required="">
                        <span class="help-block">Enter guess in plaintext.</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="rOne">R1</label>
                      <div class="col-md-4">
                        <input id="rOne" name="rOne" type="text" placeholder="r1" class="form-control input-md" required="">
                        <span class="help-block">Enter r1.</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="rTwo">R2</label>
                      <div class="col-md-4">
                        <input id="rTwo" name="rTwo" type="text" placeholder="r2" class="form-control input-md" required="">
                        <span class="help-block">Enter r2.</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="bidValue">Bid Value</label>
                      <div class="col-md-4">
                        <input id="bidValue" name="bidValue" type="text" placeholder="Value" class="form-control input-md" required="">
                        <span class="help-block">Enter your bid amount.</span>
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="submit"></label>
                      <div class="col-md-4">
                        <button id="submit" type="submit" name="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>

                  </fieldset>
                </form>
              </div>
              <h3>Reveal Secret</h3>
              <div>
                <form class="form-horizontal" id="revealSecretForm">
                  <fieldset>

                    <!-- Form Name -->
                    <legend>Reveal Secret</legend>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="playerId">Player ID</label>
                      <div class="col-md-4">
                        <input id="playerId" name="playerId" type="text" placeholder="1" class="form-control input-md" required="">
                        <span class="help-block">Enter your player ID.</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="gameId">Game ID</label>
                      <div class="col-md-4">
                        <input id="gameId" name="gameId" type="text" placeholder="2" class="form-control input-md" required="">
                        <span class="help-block">Enter game ID.</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="secret">Secret</label>
                      <div class="col-md-5">
                        <input id="secret" name="secret" type="text" placeholder="Secret" class="form-control input-md" required="">
                        <span class="help-block">Enter secret in plaintext</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="guess">Guess</label>
                      <div class="col-md-5">
                        <input id="guess" name="guess" type="text" placeholder="Guess" class="form-control input-md" required="">
                        <span class="help-block">Enter guess in plaintext.</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="rOne">R1</label>
                      <div class="col-md-4">
                        <input id="rOne" name="rOne" type="text" placeholder="r1" class="form-control input-md" required="">
                        <span class="help-block">Enter r1.</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="rTwo">R2</label>
                      <div class="col-md-4">
                        <input id="rTwo" name="rTwo" type="text" placeholder="r2" class="form-control input-md" required="">
                        <span class="help-block">Enter r2.</span>
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="submit"></label>
                      <div class="col-md-4">
                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
    <footer class="section section-primary" id="footer">
      <div class="container">
        <div class="row ">
          <div class="col-sm-6 ">
            <h1 class="custom-heading ">The CupShufflers</h1>
            <p>Harish V, Amar, Jonas, Teddy, Kowshik</p>
          </div>
          <div class="col-sm-6 ">
            <p class="text-info text-right "> <br><br></p>
            <div class="row ">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left "> <a href="# "><i class="fa fa-3x fa-fw fa-instagram text-inverse "></i></a> <a href="# "><i class="fa fa-3x fa-fw fa-twitter text-inverse "></i></a> <a href="#
                "><i class="fa fa-3x fa-fw fa-facebook text-inverse "></i></a>
                <a href="# "><i class="fa fa-3x fa-fw fa-github text-inverse "></i></a>
              </div>
            </div>
            <div class="row ">
              <div class="col-md-12 hidden-xs text-right "> <a href="# "><i class="fa fa-3x fa-fw fa-instagram text-inverse "></i></a> <a href="# "><i class="fa fa-3x fa-fw fa-twitter text-inverse "></i></a> <a href="# "><i class="fa fa-3x fa-fw
                fa-facebook text-inverse "></i></a>
                <a href="# "><i class="fa fa-3x fa-fw fa-github text-inverse "></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>

  </html>
