<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script>
    const socket = io('http://localhost:3000');
    socket.on('connection', function(client){});

    socket.emit('init');

    socket.on('init', (transactionQueue) => {
        console.log("initialising");
        for(transaction in transactionQueue) {
            document.body.innerHTML += '<div>' + JSON.stringify(transaction) + '</div>';
        }
    });

    socket.on('clock', (time) => {
        console.log("Received clock: " + parseInt(time));
        document.getElementById("clockTime").innerHTML = "Clock: " + parseInt(time);
    });

    socket.on('newTransaction', (transaction) => {
        console.log("New transaction received.");
        document.getElementById("transaction").innerHTML += '<div>' + JSON.stringify(transaction) + '</div>';
    });
</script>

<div id="clockTime">

</div>

<div id="transction">

</div>