<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  </head>
  <body>
    <script>
      const socket = io('http://localhost:3000');
      socket.on('connection', function(client){});

      socket.on('newTransaction', (transaction) => {
        console.log("New transaction received.");
        document.body.innerHTML += '<div>' + JSON.stringify(transaction) + '</div>';
      });
    </script>
    {{{body}}}
  </body>
</html>
